.image {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
}

.image img {
	position: absolute;
	top: 0;
}

.image:hover img {
	width: 200%;
	margin-left: -50%;
	z-index: 1;
}

.image-lightbox:empty {
	display: none;
}

.image-lightbox {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	z-index: 2;
	position: fixed;
	background: rgba(0,0,0,.3);
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	-moz-align-content: center;
	-ms-align-content: center;
	align-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
