.image {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
}

.image img {
	position: absolute;
	top: 0;
}

.image:hover img {
	width: 200%;
	margin-left: -50%;
	z-index: 1;
}

.image-lightbox:empty {
	display: none;
}

.image-lightbox {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	z-index: 2;
	position: fixed;
	background: rgba(0,0,0,.3);
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	-moz-align-content: center;
	-ms-align-content: center;
	align-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.image-lightbox button {
	border: 0;
	background: transparent;
}

.image-container {
	position: relative;
	padding: 0 50px;
}

.btn-prev,
.btn-next,
.btn-close
{
	font-size: 40pt;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	cursor: pointer;
}

.btn-prev:hover,
.btn-next:hover,
.btn-close:hover
{
	color: grey;
}

.btn-prev span,
.btn-next span
{
	position: absolute;
	top: 50%;
	margin-top: -25px;
	right: 0;
}

.btn-close {
	bottom: auto;
	left: auto;
	z-index: 1;
}

.btn-prev {
	right: auto;
	width: 50px;
}

.btn-next {
	left: 50px;
	text-align: right;
}

/* Icon font stuff */

@font-face {
	font-family: 'gallery';
	src:url('icons/gallery.eot?-3fuzxr');
	src:url('icons/gallery.eot?#iefix-3fuzxr') format('embedded-opentype'),
		url('icons/gallery.woff?-3fuzxr') format('woff'),
		url('icons/gallery.ttf?-3fuzxr') format('truetype'),
		url('icons/gallery.svg?-3fuzxr#gallery') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'gallery';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
	content: "\e600";
}
.icon-prev:before {
	content: "\e601";
}
.icon-download:before {
	content: "\e602";
}
.icon-close:before {
	content: "\e603";
}
